@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Colours */

nav .navbar-nav li a{
    color: white !important;
    }

.dropdown ~ li a:hover{
    background-color: teal;
} 

/* Text alignment */

.navlink {
    margin-right: 1em;
}

.cabin {
    text-align: center;
}

.description {
    text-align: center;
    padding: 40px;
}

/* Image sizing */

#homepage_image {
    padding: inherit;
    height: 30%;
    margin-top: -3rem;
}

.img-fluid {
    height: 60%;
}

#cabin-image {
    text-align: center;
    margin-top: 4rem;
}

/* Buttons */


.button-container {
    text-align: center;
    height: 10vh;
            
}

#book-button {
    background-color: #F2AF88;
    color: white;
    font-size: 25px;
    border: #F2AF88;
}

#book-button:hover {
    color: black;
}

/* Contact form */

h1 {
    margin-bottom: 40px
}

label {
    color: #333
}

.btn {
    background-color: #F2AF88;
    border: #F2AF88;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 40%;
    margin-left: 3px
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px
}

/* Footer */

footer i {
    font-size: 200%;
    padding: 3%;
    color: white
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}






