{% extends "base.html" %}

{% block content %}

<header>
    <div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="row">
                <img class="w-100 mx-auto" id="homepage_image"
                    src="https://res.cloudinary.com/dvppi5ims/image/upload/v1648026512/pexels-pixabay-358532_l8kb1a.jpg"
                    alt="main_image">
            </div>    
        </div>
</header>

<div class="description">
    <h1>LUXE LANDS SECRET STAYS</h1>
    <p>Situated in the heart of the tranquil and idilic Austrian mountains,<br>Luxe Land Secret Stays offers a truly unique luxury cabin experience.<br>In the search for something a bit more luxe? You've come to the right place.</p>

{% endblock %}