{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <title>Luxe Land Stays</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color:#B4D2D9;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">
          <img src="https://res.cloudinary.com/dvppi5ims/image/upload/v1648057796/LUXE_LAND_2_r0npbx.png" alt="logo-image" style="max-width: 40px; max-height: 60px"></img></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" {{ about_active }} href="{% url 'about' %}">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Luxe Cabins
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:#B4D2D9;">
                  <li><a class="dropdown-item" href="{% url 'mountain_lodge' %}">Mountain Lodge</a></li>
                  <li><a class="dropdown-item" href="{% url 'fir_pine_nest' %}">Fir Pine Nest</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Stay
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:#B4D2D9;">
                  <li><a class="dropdown-item" href="{% url 'make_reservation' %}">Book Now</a></li>
                  <li><a class="dropdown-item" href="{% url 'account_login' %}">Login In</a></li>
                  <li><a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a></li>
                </ul>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                  </li>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <main class="flex-shrink-0 main-bg">

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
      </main>

      <!-- Footer -->
      <footer class="footer mt-auto text-center" style="background-color:#B4D2D9;">
        <a href="https://facebook.com" target="_blank" rel="noopener"
            aria-label="visit our Facebook page (opens in a new page)"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com" target="_blank" rel="noopener"
            aria-label="visit our Twitter page (opens in a new page)"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com" target="_blank" rel="noopener"
            aria-label="visit our Instgram page (opens in a new page)"><i class="fab fa-instagram"></i></a>
          <section class="mb-4">
            <p>1 Mount View<br>Slope Side<br>Austria</p>
          </section>
    </footer>
    
</body>
</html>
