{% extends "base.html" %}

{% block content %}

<div class="container"> <div class=" text-center mt-5 ">
    <h1>Get In Touch</h1>
</div>

<div class="col-md-5 col-12 mx-auto py-5">
    <form method="POST" action="https://formdump.codeinstitute.net/">
        <label for="full_name" class="form-label">Full Name</label>
        <input type="text" class="form-control text_input" name="full_name" id="full_name"
            value="{{ user.userprofile.first_name }} {{ user.userprofile.last_name }}" required>

        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control text_input" name="email_address" id="email"
            value="{{ user.email }}" required>

        <label for="message">Your message</label>
        <textarea class="form-control" name="message" id="message" rows="3" required></textarea>

        <button type="submit" class="btn custom-red text-white mx-auto d-block my-3">
            Submit Message
        </button>
    </form>
</div>
</div>

{% endblock %}