{% extends "base.html" %}

{% block content %}

<header>
    <div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="row">
                <img class="w-100 mx-auto" id="homepage_image"
                    src="https://res.cloudinary.com/dvppi5ims/image/upload/v1647943496/pexels-marlon-martinez-1450208_zfkl2q.jpg"
                    alt="homepage_image">
            </div>    
        </div>
</header>

    <div class="description">
        <h1>A TRULY LIFE LUXE EXPERIENCE</h1>
    </div> 
    
    <div class="container features">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="https://res.cloudinary.com/dvppi5ims/image/upload/v1647964884/pexels-angela-cavina-2380249_asnhst.jpg" class="img-fluid">
                <h3 class="cabin">MOUNTAIN LODGE</h3>
                <p>With three bedrooms and a hot tub, this beautiful cabin is all you need to switch off and unwind. Perfect for families and small groups.</p>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="https://res.cloudinary.com/dvppi5ims/image/upload/v1647964083/pexels-adriaan-greyling-754268_qlu13r.jpg" class="img-fluid">
                <h3 class="cabin">FIR PINE NEST</h3>
                <p>Perfect for a romantic escape, this luxury one bedroom cabin has all you need to hide away. Set within the blissful backdrop of the Austrian mountains. </p>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="https://res.cloudinary.com/dvppi5ims/image/upload/v1647964926/antonio-grosz-iwzRmK6vNLg-unsplash_zh07aw.jpg" class="img-fluid" href="contact.html">
                <h3 class="feature-title">FURTHER INFORMATION</h3>
                <p>Perfect for a romantic escape, this luxury one bedroom cabin has all you need to hide away. Set within the blissful backdrop of the Austrian mountains. </p>
            </div>
        </div>
    </div>


{% endblock %}